body {
    padding-top: 70px;
    font-size: 12px;
}

.main-container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.validation-error {
    border: 1px solid #a94442;
}

.display-none {
    display: none;
}

.alert-text {
    font-size: 0.9em;
    color: #a94442;
}

.clickable-row {
    border-top: 1px solid #e3e3e3;
    padding: 10px 0 10px 0;
    word-wrap: break-word;
}
.clickable-row:hover {
    background-color: #f5f5f5;
}

.no-side-padding {
    padding-left: 0;
    padding-right: 0;
}